{% extends 'fashion/base.html' %}
{% load static %}
{% load django_browser_reload %}
<!-- Hero Section Begin -->
{% block content %}
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                            <h6 class="checkout__title">Profile Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        {{ form.first_name }}
                                        <small class="text-danger">{{ form.errors.first_name|striptags }}</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        {{ form.last_name }}
                                        <small class="text-danger">{{ form.errors.last_name|striptags }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                {{ form.country }}
                                <small class="text-danger">{{ form.errors.country|striptags }}</small>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                {{ form.address }}
                                <small class="text-danger">{{ form.errors.address|striptags }}</small>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                {{ form.city }}
                                <small class="text-danger">{{ form.errors.city|striptags }}</small>
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                {{ form.state }}
                                <small class="text-danger">{{ form.errors.state|striptags }}</small>
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                {{ form.zipcode }}
                                <small class="text-danger">{{ form.errors.zipcode|striptags }}</small>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        {{ form.phone }}
                                        <small class="text-danger">{{ form.errors.phone|striptags }}</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        {{ form.email }}
                                        <small class="text-danger">{{ form.errors.email|striptags }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <div class="custom-control custom-checkbox">
                                      <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="same_shipping_address">

                                      <label class="custom-control-label" for="same_shipping_address">Shipping address is the same as my billing address</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                      <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="save-info">

                                      <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="site-btn">Update</button>
                                </div>
                            </div>
                        </div>
                    <hr class="mb-4">
                    <div class="col-lg-4 col-md-6">
                        <h4 class="mb-3">Payment</h4>

                        <div class="d-block my-3">
                            {% for value, name in form.fields.payment_option.choices %}
                          <div class="custom-control custom-radio">
                            <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input"  required>
                            <label class="custom-control-label" for="{{name}}">{{ name }}</label>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock content %}
