.login{
    font-size: 60px;
    font-weight: bold;
}
.login-spad{
    padding-top: 70px !important;
    padding-bottom: 200px !important;
}
.forgot-link{
    color: #111111 !important;
    text-decoration: none !important;
}
.add-to-cart{
    color: #fff !important;
    text-decoration: none !important;
}
.forgot-link:hover{
    color: none !important;
}
.auth-page input{
    margin-bottom: 0px !important;
}
.user-profile ul li a{
    color: #ffffff !important;
}
.user-profile ul li .dropdown{
    width: 184px !important;
}
.fill-color{
    color: red !important;
}
.add-favourite{
    cursor: pointer !important;
}
.nav-pills .nav-link.active{
    background-color: #111111 !important;
    color: white !important;
}
.remove-cart{
    cursor: pointer !important;   
}
.buy-now{
    color: white !important;
    cursor: pointer !important;
}
.filter-btn{
    padding: 10px 20px !important;
    font-size: 10px !important;
}
.filter__form input{
    margin-bottom: 0px !important;
}
.success-animation {
          margin: 50px auto;
        }
        .checkmark {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: block;
          stroke-width: 2;
          stroke: #4bb71b;
          stroke-miterlimit: 10;
          box-shadow: inset 0px 0px 0px #4bb71b;
          animation: fill 0.4s ease-in-out 0.4s forwards,
            scale 0.3s ease-in-out 0.9s both;
          position: relative;
          top: 5px;
          right: 5px;
          margin: 0 auto;
        }
        .checkmark__circle {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-width: 2;
          stroke-miterlimit: 10;
          stroke: #4bb71b;
          fill: #fff;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }
        .checkmark__check {
          transform-origin: 50% 50%;
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        }
        @keyframes stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }
        @keyframes scale {
          0%,
          100% {
            transform: none;
          }
          50% {
            transform: scale3d(1.1, 1.1, 1);
          }
        }
        @keyframes fill {
          100% {
            box-shadow: inset 0px 0px 0px 30px #4bb71b;
          }
        }